.p1{color: red; font-size: 0.8rem; font-family: "微软雅黑"; font-weight: bolder;padding-left:22%; padding-top:5%;}
.container{padding:0 15px;}
.ul_2{display:none;width:100%; background: rgba(51,51,51,0.5);}
.ul_2 li{width:25%; float: left;  text-align:center; height: 30px; line-height: 30px; border-bottom:1px solid rgba(255,255,255,0.5);}
.ul_2 li a{color: #fff; font-size: 0.8rem; font-family: "微软雅黑";}
.serve,.course,.campus,.works,.star,.unit{width: 100%;}
.serve h2,.course h2,.campus h2,.works h2,.star h2,.unit h2{font-size: 1.275rem;  height: 90px; line-height: 90px; text-align:left; position: relative;font-weight: normal;}
.course h2 p,.campus h2 p,.works h2 p,.star h2 p,.unit h2 p{position: absolute;top: 0; left:82%; font-size: 0.8rem; color:#FF0000; cursor:pointer;}
.serve ul li{float: left;cursor: pointer;text-align: center; width:25%;}
.serve ul li h3{font-size:1rem; padding-top:56px; color: #000000;font-weight: normal;}
.serve ul li h3 span{display:none;}
.serve ul li p{display: none;}
.serve ul a:nth-of-type(1) li{background: url(../images/service_1_2.jpg) no-repeat center top;}
.serve ul a:nth-of-type(2) li{background: url(../images/service_2_2.jpg) no-repeat center top;}
.serve ul a:nth-of-type(3) li{background: url(../images/service_3_2.jpg) no-repeat center top;}
.serve ul a:nth-of-type(4) li{background: url(../images/service_4_2.jpg) no-repeat center top;}
.course ul li{cursor:pointer; float: left; width:50%;  position: relative; margin-bottom: 2px;}
.course ul li a:nth-of-type(2){font-size: 0.8rem;  color: #000; text-align: center; padding: 6.02409639% 0 6.02409639% 0; display: block;}
.course ul li a:nth-of-type(1){ display:block; margin:5.12048193% 0 0 31.62650602%; width:36.14457831%;}
.course ul li div{display: none;}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	display: none;
}
.campus h2 a{display: none;}
.campus ul li{float: left; width:48%; margin-right:4%; margin-bottom: 6px;}
.campus ul li:nth-of-type(2n){margin-right: 0;}
.campus ul li:nth-of-type(5),.campus ul li:nth-of-type(6){margin-bottom: 0;}
.campus ul li h3{padding-top: 24px; padding-bottom: 15px; font-family:"微软雅黑"; font-size: 1rem;font-weight: normal;}
.campus ul li p{display: none;}
.campus ul li:last-of-type,.works ul li:last-of-type,.course ul li:last-of-type,.unit a:last-of-type,.star ul li:last-of-type{ width:100%; padding-top:10px; text-align: center;}
.campus ul li:last-of-type p,.works ul li:last-of-type p,.unit a:last-of-type span,.course ul li:last-of-type p,.star ul li:last-of-type p{display:inline-block; height: 30px; width: 30px; border-radius:30px;background: #5C5C5C;color:#fff; cursor: pointer; line-height: 30px; font-size: 1.4rem; box-shadow:3px 3px 3px #333; font-weight:bolder; text-shadow:0px 0px 6px #fff;}
.campus ul li:last-of-type p:hover,.works ul li:last-of-type p:hover,.unit a:last-of-type span:hover,.course ul li:last-of-type p:hover,.star ul li:last-of-type p:hover{box-shadow:3px 3px 3px #000; color: #000000; background:#ccc;}
.works ul li{width:31.3333333%; float: left; cursor: pointer; margin-right:3%; margin-bottom:3%;}
.works ul li:nth-of-type(3),.works ul li:nth-of-type(6),.works ul li:nth-of-type(9),.works ul li:nth-of-type(12),.works ul li:nth-of-type(15),.works ul li:nth-of-type(18){margin-right: 0;}
.works ul li div{display: none;}
.star ul li{width:31.3333333%; margin:0 3% 3% 0; float:left; position:relative; cursor: pointer;}
.star ul li:nth-of-type(3),.star ul li:nth-of-type(6),.star ul li:nth-of-type(9),.stat ul li:nth-of-type(11),.stat ul li:nth-of-type(13){margin-right: 0;}
.stat ul li:nth-of-type(4){margin-top:-1px !important;}
.stat ul li:nth-of-type(12){width:20%;}
.star ul li div{display: none;}
.unit div a{float: left; width:31.33333333%; margin:0 3% 3% 0;}
.unit div a:nth-of-type(3),.unit div a:nth-of-type(6),.unit div a:nth-of-type(9),.unit div a:nth-of-type(12),.unit div a:nth-of-type(15),.unit div a:nth-of-type(18){margin-right: 0;}
