
.p1{display: none;}
.ul_2{height: 0; overflow: hidden;}
.shouqi{display: none;}

/*大盒子开始*/
.container{padding:40px 0 108px 0;}
.container .left,.container .right{float:left;}
.container .left{width:266px;}
.container .left ul{border-right:1px solid #bababa; padding-right:15px;}
.container .left ul li{height:77px; line-height:77px; border-bottom:3px solid #fff;}
.container .left ul li:hover{border-bottom:3px solid #ff942d;}
.container .left ul li:first-of-type{background:url(../../images/service_03.jpg) no-repeat 20px center;}
.container .left ul li:first-of-type:hover{background:url(../../images/service_04.jpg) no-repeat 20px center;}
.container .left ul li:nth-of-type(2){background:url(../../images/service_05.jpg) no-repeat 20px center;}
.container .left ul li:nth-of-type(3){background:url(../../images/service_09.jpg) no-repeat 20px center;border-bottom:3px solid #ff942d;}
.container .left ul li:nth-of-type(4){background:url(../../images/service_10.jpg) no-repeat 20px center;}
.container .left ul li:nth-of-type(2):hover{background:url(../../images/service_06.jpg) no-repeat 20px center;}
.container .left ul li:nth-of-type(3):hover{background:url(../../images/service_09.jpg) no-repeat 20px center;}
.container .left ul li:nth-of-type(4):hover{background:url(../../images/service_11.jpg) no-repeat 20px center;}
.container .left ul li a{padding-left:80px; font-size: 1.3625rem; color:#2c2b27; font-family:"微软雅黑"; display: block;}
.container .right{width:676px;padding-left: 38px;}
.container .right h3{font-size: 18px;color: #fa9634; line-height: 38px;}
.container .right h3 span,.container .right p{line-height: 38px;font-size: 16px;color: #222; font-weight: normal;}
.container .right p span{font-size: 22px; font-weight:bold; margin-right: 30px;}
/*大盒子结束*/


/*index end*/
