.p1{display: none;}
.banner{margin-top: 74px;}
.ul_2{height: 0; overflow: hidden;}
.shouqi{display: none;}

/*大盒子开始*/
.container{padding:40px 15px 0px 15px;}
.container .left,.container .right{float:left;}
.container .left{width:26.6%;}
.container .left ul{border-right:1px solid #bababa; padding-right:1.5%;}
.container .left ul li{height:77px; line-height:77px; border-bottom:3px solid #fff;}
.container .left ul li:hover{border-bottom:3px solid #ff942d;}
.container .left ul li:first-of-type{background:url(../../images/新生军训-2.gif) no-repeat 20px center;}
.container .left ul li:nth-of-type(2){background:url(../../images/环艺实习基地-2.gif) no-repeat 20px center;}
.container .left ul li:nth-of-type(3){background:url(../../images/趣味运动会-2.gif) no-repeat 20px center;}
.container .left ul li:nth-of-type(4){background:url(../../images/大学生实训-2.gif) no-repeat 20px center;}
.container .left ul li:nth-of-type(5){background:url(../../images/话剧表演-2.gif) no-repeat 20px center;}
.container .left ul li:nth-of-type(6){background:url(../../images/圣诞晚会-2.gif) no-repeat 20px center;}
.container .left ul li:first-of-type:hover{background:url(../../images/新生军训.gif) no-repeat 20px center;}
.container .left ul li:nth-of-type(2):hover{background:url(../../images/环艺实习基地.gif) no-repeat 20px center;}
.container .left ul li:nth-of-type(3):hover{background:url(../../images/趣味运动会.gif) no-repeat 20px center;}
.container .left ul li:nth-of-type(4):hover{background:url(../../images/大学生实训.gif) no-repeat 20px center;}
.container .left ul li:nth-of-type(5):hover{background:url(../../images/话剧表演.gif) no-repeat 20px center;}
.container .left ul li:nth-of-type(6):hover{background:url(../../images/圣诞晚会.gif) no-repeat 20px center;}
.container .left ul li a{padding-left:33.83458647%; font-size: 1rem; color:#2c2b27; font-family:"微软雅黑"; display: block;}
.container .right{width:67.2%; padding-left:5.2%;}
.container .right .bottom{padding:104px 0 20px 0;}
.container .right .bottom p{font-size: 1rem; text-indent: 2em; line-height:30px;}
.banner-slow{display: none;}
.bx-wrapper .bx-pager.bx-default-pager a{height: 44px !important;}
.bx-pager{bottom:-72px !important;}
/*大盒子结束*/

